
.logo-img{
 width: 70px;
 height: auto;
 display: block;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.navbar-test{
  display: flex;
  justify-content: space-between;
}

.display-none{
  display: none;
}

.article-img{
  width: 450px;
}

.footer{
  background: #81aada;
  height: 70px;
  color: #81aada;
}

.likePerCard{
  width: 95%;
  img{
    width: 190px;
  }
}

.card-body-article{
  width: 540px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.banner{
  background-image: url('https://i.imgur.com/MvFsNEL.jpg');
  width: 100%;
  height: 270px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-txt{
  font-size: 60px;
}

.input{
  width: 50%;
}
